{% extends "base.html" %} <!--mba tsy hahalava be ny code hamerimberina navbar d ilay fichier base.html fotsiny no importena isaky ny fichier html zay tiana hasiana an'ilay navabar-->
{% block title %}detail{% endblock title %}

{% block content %}

<style>
    .card{
        width: 50%;
        display: flex;
        flex-direction: column;
        margin-left: 25%;
    }

    .card-body h3{
        color: rgb(0, 91, 228);
    }
</style>
    <div class="card">
        <div class="couverture card-img-top" >
            <img src="{{ livre.Couverture.url }}" alt="livre" style="width:100%">
        </div>
        <div class="card-body">
            <h3> {{ livre.Titre }} </h3>
            <p> <b>Auteur: </b> {{ livre.Auteur }} <br> <b>Date de sortie:</b> {{ livre.Date_de_production }} <br> <b>Format: </b> {{ livre.Format }} <br> <b>NB_PAGES: </b> {{ livre.NB_PAGES }} <br> <b>Categorie: </b> {{ livre.Categorie}} <br> <b>Resumé: </b> <br> {{ livre.Note_resume }} </p>
        </div>
        <div class=" mb-3 d-flex justify-content-around">
            <button class="btn btn-primary download" data-url={% url 'telechargement_livre' livre.slug %}><i class="fas fa-download"></i>Telecharger</button>
            <a href="/liste" type="button" class="btn btn-primary "> Retour </a>
        </div>
    </div>


{% endblock content %}