{% extends "base.html" %}

{% block title %}detail{% endblock title %}

{% block content %}

<style>
    .card {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin-left: 25%;
    }

    .card-body h3 {
        color: rgb(0, 91, 228);
    }
</style>

<div class="card">
    <div class="couverture card-img-top">
        <img src="{{ document.Couverture.url }}" alt="document" style="width:100%">
    </div>
    <div class="card-body">
        <h3> {{ document.Titre }} </h3>
        <p>
            <b>Auteur: </b> {{ document.Auteur }} <br>
            <b>Date de sortie:</b> {{ document.Date_de_production }} <br>
            <b>Format: </b> {{ document.Format }} <br>
            <b>NB_PAGES: </b> {{ document.NB_PAGES }} <br>
            <b>Categorie: </b> {{ document.Categorie }} <br>
            <b>Resumé: </b> <br> {{ document.Note_resume }}
        </p>
    </div>
    <div class=" mb-3 d-flex justify-content-around">
        <button class="btn btn-primary download" data-url={% url 'telechargement_document' document.id %} data-nom="{{document.Titre}}"><i class="fas fa-download"></i></button>
        <a href="/liste" type="button" class="btn btn-primary "> Retour </a>
    </div>
</div>

{% endblock content %}
